<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="box">
				<h4>My name is {{name}}</h4>
				<p>I am {{age}} years old!</p>
				<p>This is me…</p> 
				<img class="colin-photo" src="{{ avatar }}" />
			</div>
		</div>
	
		
		<div class="col-xs-12 col-sm-6">
			<div class="box">
				<pre>Want to see a photo of a goat riding a horse?</pre>
					
				<button type="button" class="btn btn-warning" ng-click="hidePhotoOne = !hidePhotoOne">Yes, please!</button><br />

				<photo-one hide-image="false" ng-show="hidePhotoOne"></photo-one>
			
				<pre>How about a nice photo of a beach?</pre>

				<button type="button" class="btn btn-success" ng-click="hidePhotoTwo = !hidePhotoTwo">Yeah, ok then!</button><br />

				<photo-two hide-image="false" ng-show="hidePhotoTwo"></photo-two>
			</div>
		</div>
	</div>
</div>