	

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<table class="city">
					<thead>
						<th>City</th>
						<th>Population</th>
					</thead>
					<tbody>
						<tr ng-repeat="item in cities">
							<td>{{item.name}}</td>
							<td>{{item.population}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-xs-12- col-sm-8">
				<div ng-controller="DoughnutCtrl">
					<canvas id="doughnut" class="chart chart-doughnut"
			 			chart-data="data" chart-labels="labels">
					</canvas>  
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3">
				<div class="box">
					<h4>Add a new City?</h4>
					Enter City: <br />
					<input ng-model="cityName" ng-model="cityName" required /><br />
					<pre>{{cityName}}</pre>
					Enter Population: <br />
					<input type="number" name="popNumber" ng-model="popNumber" required /><br />
					<pre>{{popNumber}}</pre>
					<button type="button" class="btn btn-primary" ng-click="sendData()">Enter</button>
				</div>
			</div>
		</div>
	</div>






